body{
    background: #000 url(../End\ of\ term/background.jpg) no-repeat center top; 
    background-size:cover;
}

#header{
    background: linear-gradient(#3f2e2e 20%, #6e5858);
    width: 1920px;
    margin: 0 auto;
    height: 110px;
}
#logo{
    width: 640px;
    height: 60px;

    text-align: center;
    color: #fff;
}
#logo h1{
    font-size: 24px;
    padding-right: 30px;
    margin: 20px 0 0 0;
}
#logo h2{
    font-size: 12px;
    margin: 5px 0;
    padding-right: 30px;
}
#menu{
    float: right;
    width: 620px;
    height: 50px;
    border-radius: 10px;
}
#menu ul{
    list-style: none;
    padding: 0px;
    padding-left: 50px;
    margin: 0;
}
#menu ul li{
    float: right;
    margin-top: 5px;
}
#menu ul li a{
    display: block;
    width: 150px;
    color: #fff;
    text-decoration: none;
}
#menu a:hover{
    color: rgb(172, 151, 59);
}